.nav-link {
  color: black;
  outline: black;
  outline-width: 1px;
}

.jumbotron {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lead {
  color: black;
  font-weight: 500;
}
